/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

body,
* {
  font-family: "Roboto", sans-serif !important;
}
body nav.navbar,
* nav.navbar {
  background: rgba(192, 192, 192, 0.7);
  padding: 1.6rem 1rem;
  color: #1c1c1c;
  transition: all 0.3s ease-in-out !important;
}
body nav.navbar a.navbar-brand img#logomarca,
* nav.navbar a.navbar-brand img#logomarca {
  width: 100%;
  max-width: 200px;
}
body nav.navbar li.nav-item a.nav-link,
* nav.navbar li.nav-item a.nav-link {
  color: #fff;
  font-variant: normal;
  font-size: 15px;
  font-weight: 300;
  padding-right: 1rem;
  padding-left: 1rem;
}
body nav.navbar li.nav-item a.nav-link:hover,
* nav.navbar li.nav-item a.nav-link:hover {
  color: #03d7ab;
}
body section.banner,
* section.banner {
  padding-bottom: 100px;
  background: url("./../img/empreendimentos/Jardins_Genebra/05.png") no-repeat center center;
  background-position: center -20px;
  position: relative;
}
@media (max-width: 575.9px) {
  body section.banner,
  * section.banner {
    padding-top: 180px;
  }
}
@media (min-width: 576px) {
  body section.banner,
  * section.banner {
    padding-top: 200px;
  }
}
@media (max-width: 991.9px) {
  body section.banner,
  * section.banner {
    background: #1c1c1c;
  }
}
@media (min-width: 992px) {
  body section.banner,
  * section.banner {
    padding-top: 220px;
  }
}
body section.banner::after,
* section.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
body section.banner div.col-left,
* section.banner div.col-left {
  position: relative;
  z-index: 1;
}
@media (max-width: 767.9px) {
  body section.banner div.col-left,
  * section.banner div.col-left {
    padding-bottom: 75px !important;
  }
}
body section.banner div.col-left article h1.titulo,
* section.banner div.col-left article h1.titulo {
  font-weight: 300;
  margin-bottom: 10px;
  font-variant: normal;
  font-style: normal;
  color: #fff;
}
@media (max-width: 575.9px) {
  body section.banner div.col-left article h1.titulo,
  * section.banner div.col-left article h1.titulo {
    font-size: 25px;
  }
}
@media (min-width: 576px) {
  body section.banner div.col-left article h1.titulo,
  * section.banner div.col-left article h1.titulo {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  body section.banner div.col-left article h1.titulo,
  * section.banner div.col-left article h1.titulo {
    font-size: 32px;
  }
}
body section.banner div.col-left article h2.subtitulo,
* section.banner div.col-left article h2.subtitulo {
  color: #eee;
  font-weight: 300;
  line-height: 32px;
}
@media (max-width: 575.9px) {
  body section.banner div.col-left article h2.subtitulo,
  * section.banner div.col-left article h2.subtitulo {
    font-size: 15px;
  }
}
@media (min-width: 576px) {
  body section.banner div.col-left article h2.subtitulo,
  * section.banner div.col-left article h2.subtitulo {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  body section.banner div.col-left article h2.subtitulo,
  * section.banner div.col-left article h2.subtitulo {
    font-size: 18px;
  }
}
body section.banner div.col-right,
* section.banner div.col-right {
  position: relative;
  z-index: 1;
}
body section.banner div.col-right fieldset,
* section.banner div.col-right fieldset {
  background: rgba(192, 192, 192, 0.7);
  border-radius: 5px;
  padding: 42px 42px 47px 42px;
}
body section.banner div.col-right fieldset div.contain-title h4,
* section.banner div.col-right fieldset div.contain-title h4 {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400 !important;
  margin-bottom: 20px;
}
body section.banner div.col-right fieldset div.contain-title h4 span,
* section.banner div.col-right fieldset div.contain-title h4 span {
  color: #03d7ab;
  font-weight: 700;
}
body section.banner div.col-right fieldset form input,
* section.banner div.col-right fieldset form input {
  width: 100%;
  height: 44px;
  padding: 0 2%;
  margin-right: 2%;
  margin-bottom: 15px;
  color: #252525;
  border: 1px solid #03d7ab;
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  float: left;
  border-radius: 3px 3px;
}
body section.banner div.col-right fieldset form button.btn-submit,
* section.banner div.col-right fieldset form button.btn-submit {
  color: #fff;
  background: #03d7ab;
  border: 1px solid #03d7ab;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 35px;
  position: relative;
  text-transform: uppercase;
  appearance: button;
  border-radius: 3px;
}
body section.banner div.col-right fieldset form button.btn-submit:hover,
* section.banner div.col-right fieldset form button.btn-submit:hover {
  background: #27ae60;
  border-color: #27ae60;
}
body section.slides,
* section.slides {
  background: rgb(244, 244, 244);
  padding: 70px 0;
}
body section.slides h2.title,
* section.slides h2.title {
  border: 0px;
  outline: 0px;
  font-size: 28px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 38px;
  color: rgb(38, 47, 50);
  clear: both;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 15px;
}
body section.slides h3.subtitle,
* section.slides h3.subtitle {
  margin: 0 auto 50px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 28px;
  color: rgb(141, 141, 141);
  clear: both;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 800px;
}
body section.slides div.contain-cards div.card,
* section.slides div.contain-cards div.card {
  cursor: pointer;
  width: 100% !important;
  max-width: 420px !important;
  margin: 0 auto 50px;
  height: 100%;
  max-height: 450px;
}
body section.slides div.contain-cards div.card div.contain-img-card,
* section.slides div.contain-cards div.card div.contain-img-card {
  position: relative;
  overflow: hidden;
}
body section.slides div.contain-cards div.card div.contain-img-card img,
* section.slides div.contain-cards div.card div.contain-img-card img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  height: 220px;
  object-fit: cover;
}
body section.slides div.contain-cards div.card div.card-body h3.titulo,
* section.slides div.contain-cards div.card div.card-body h3.titulo {
  margin-bottom: 5px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 28px;
  color: rgb(37, 37, 37);
  font-size: 16px;
}
body section.slides div.contain-cards div.card div.card-body p,
* section.slides div.contain-cards div.card div.card-body p {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0px;
  outline: 0px;
  vertical-align: baseline;
  line-height: 24px;
  color: rgb(141, 141, 141);
  font-size: 14px;
}
body section.diferenciais,
* section.diferenciais {
  padding: 90px 0 70px;
}
body section.diferenciais .no-margin-padding,
* section.diferenciais .no-margin-padding {
  margin: 0;
  padding: 0;
}
body section.diferenciais div.card-diferencial,
* section.diferenciais div.card-diferencial {
  width: 100%;
  max-width: 550px;
  padding: 25px 55px 15px;
}
body section.diferenciais div.card-diferencial.bg-gray,
* section.diferenciais div.card-diferencial.bg-gray {
  background: #f9f9f9;
}
body section.diferenciais div.card-diferencial div.contain-ico,
* section.diferenciais div.card-diferencial div.contain-ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.diferenciais div.card-diferencial h2.title,
* section.diferenciais div.card-diferencial h2.title {
  font-size: 20px;
  line-height: 100%;
  margin: 20px 0;
  font-weight: 400;
  color: #252525;
  text-align: center;
}
body section.diferenciais div.card-diferencial p.desc,
* section.diferenciais div.card-diferencial p.desc {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8d8d8d;
  text-align: center;
}
body section.distancias,
* section.distancias {
  background: rgb(244, 244, 244);
  padding: 70px 0;
}
body section.distancias h2.title,
* section.distancias h2.title {
  border: 0px;
  outline: 0px;
  font-size: 28px;
  vertical-align: baseline;
  font-weight: 350;
  line-height: 38px;
  color: rgb(38, 47, 50);
  clear: both;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 15px;
  padding-bottom: 50px;
}
body section.distancias div.cartao,
* section.distancias div.cartao {
  width: 100%;
  max-width: 280px;
  position: static;
  margin: 0 auto;
}
body section.distancias div.cartao div.contain-ico,
* section.distancias div.cartao div.contain-ico {
  width: 30px;
  height: 30px;
  background: #03d7ab;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  top: 15px;
}
body section.distancias div.cartao div.contain-span,
* section.distancias div.cartao div.contain-span {
  background: #fff;
  padding: 30px 15px 20px;
  width: calc(100% - 15px);
  margin-left: auto;
  border-radius: 0 3px 3px 3px;
  height: 150px;
  position: relative;
  overflow: hidden;
}
body section.distancias div.cartao div.contain-span::after,
* section.distancias div.cartao div.contain-span::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: -40px;
  background: rgba(3, 215, 171, 0.2);
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
body section.distancias div.cartao div.contain-span span,
* section.distancias div.cartao div.contain-span span {
  display: block;
  text-align: right;
  position: relative;
  z-index: 1;
}
body section.distancias div.cartao div.contain-span span.titulo,
* section.distancias div.cartao div.contain-span span.titulo {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
body section.distancias div.cartao div.contain-span span.desc,
* section.distancias div.cartao div.contain-span span.desc {
  font-size: 13px;
  font-weight: 400;
  color: #03d7ab;
}
body section.carrossel-parceiros,
* section.carrossel-parceiros {
  padding: 70px 0;
}
body section.carrossel-parceiros h2.title,
* section.carrossel-parceiros h2.title {
  border: 0px;
  outline: 0px;
  font-size: 28px;
  vertical-align: baseline;
  font-weight: 350;
  line-height: 38px;
  color: rgb(38, 47, 50);
  clear: both;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto 15px;
  padding-bottom: 50px;
}
body section.carrossel-parceiros div.slider div.slick-slide img,
* section.carrossel-parceiros div.slider div.slick-slide img {
  width: 100%;
  max-width: 120px;
  display: block;
  margin: 0 auto;
}
body footer#footer,
* footer#footer {
  background: silver;
  padding: 35px 0 0 0;
}
body footer#footer div.col-left div.contain-endereco span,
* footer#footer div.col-left div.contain-endereco span {
  display: block;
  color: #fff;
}
body footer#footer div.col-left div.contain-endereco span.titulo,
* footer#footer div.col-left div.contain-endereco span.titulo {
  font-weight: 400;
  font-size: 13px;
  text-align: left;
}
body footer#footer div.col-left div.contain-endereco span.endereco,
* footer#footer div.col-left div.contain-endereco span.endereco {
  font-weight: 300;
  font-size: 11px;
  text-align: left;
}
body footer#footer div.col-left div.contain-endereco a.localizacao,
* footer#footer div.col-left div.contain-endereco a.localizacao {
  display: block;
  width: 100%;
  color: #fff;
  background: #1c1c1c;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 10px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767.9px) {
  body footer#footer div.col-left div.contain-endereco a.localizacao,
  * footer#footer div.col-left div.contain-endereco a.localizacao {
    margin-bottom: 20px;
  }
}
body footer#footer div.col-left div.contain-endereco a.localizacao:hover,
* footer#footer div.col-left div.contain-endereco a.localizacao:hover {
  background: #1c1c1c;
}
body footer#footer div.col-center div.contain-redes-sociais,
* footer#footer div.col-center div.contain-redes-sociais {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}
body footer#footer div.col-center div.contain-redes-sociais a.rede-social,
* footer#footer div.col-center div.contain-redes-sociais a.rede-social {
  display: block;
  transition: all 0.5s ease-in-out;
  color: #1c1c1c;
}
@media (max-width: 767.9px) {
  body footer#footer div.col-center div.contain-redes-sociais a.rede-social,
  * footer#footer div.col-center div.contain-redes-sociais a.rede-social {
    margin-bottom: 20px;
  }
}
body footer#footer div.col-center div.contain-redes-sociais a.rede-social:hover,
* footer#footer div.col-center div.contain-redes-sociais a.rede-social:hover {
  color: #1c1c1c;
}
body footer#footer div.col-right div.contain-contatos span,
* footer#footer div.col-right div.contain-contatos span {
  display: block;
  color: #fff;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
}
body footer#footer div.col-right div.contain-contatos span.titulo,
* footer#footer div.col-right div.contain-contatos span.titulo {
  font-size: 13px;
  font-weight: 400;
}
body footer#footer div .developer span.dev,
* footer#footer div .developer span.dev {
  display: block;
  text-align: center;
  color: #1c1c1c;
  transition: all 0.5s ease-in-out;
  padding: 35px 0 5px 0;
  font-size: 11px;
  font-weight: 300;
  font-family: "Bebas Neue", sans-serif !important;
  letter-spacing: 1.2px;
}
body footer#footer div .developer span.dev:hover,
* footer#footer div .developer span.dev:hover {
  color: #1c1c1c;
  cursor: pointer;
}

/*# sourceMappingURL=estilo.css.map */
