//SCROLL
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
//CORPO DA PÁGINA

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow: hidden;

    .no-margin-padding {
        margin: 0;
        padding: 0;
    }

    /* ---------------------------------------------------
    LOGIN
    ----------------------------------------------------- */
    &#login {
        background-color: #080710;

        *,
        *:before,
        *:after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .background {
            width: 430px;
            height: 520px;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

        .shape:first-child {
            background: linear-gradient(#1845ad,
                    #23a2f6);
            left: -80px;
            top: -80px;
        }

        .shape:last-child {
            background: linear-gradient(to right,
                    #ff512f,
                    #f09819);
            right: -30px;
            bottom: -80px;
        }

        form {
            height: 520px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }

        form * {
            font-family: 'Poppins', sans-serif;
            color: #ffffff;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }

        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }

        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 3px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
        }

        ::placeholder {
            color: #e5e5e5;
        }

        button {
            margin-top: 50px;
            width: 100%;
            background-color: #ffffff;
            color: #080710;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .social {
            margin-top: 30px;
            display: flex;
        }

        .social div {
            background: red;
            width: 150px;
            border-radius: 3px;
            padding: 5px 10px 10px 5px;
            background-color: rgba(255, 255, 255, 0.27);
            color: #eaf0fb;
            text-align: center;
        }

        .social div:hover {
            background-color: rgba(255, 255, 255, 0.47);
        }

        .social .fb {
            margin-left: 25px;
        }

        .social i {
            margin-right: 4px;
        }
    }

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;

        a,
        a:hover,
        a:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }

        /* ---------------------------------------------------
            SIDEBAR STYLE LATERAL
        ----------------------------------------------------- */
        #sidebar {
            min-width: 260px;
            max-width: 260px;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
            height: 100vh;
            overflow-y: scroll;

            p {
                font-family: 'Poppins', sans-serif;
                font-size: 1.1em;
                font-weight: 300;
                line-height: 1.7em;
                color: #999;
            }

            &.active {
                margin-left: -250px;
            }

            & .sidebar-header {
                padding: 20px;
                background: #6d7fcc;
            }

            & ul.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            & ul p {
                color: #fff;
                padding: 10px;
            }

            & ul li a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
            }

            & ul li a:hover {
                color: #7386D5;
                background: #fff;
            }

            & ul li.active>a,
            a[aria-expanded="true"] {
                color: #fff;
                background: #6d7fcc;
            }

            a[data-toggle="collapse"] {
                position: relative;
            }

            .dropdown-toggle::after {
                display: block;
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
            }

            ul ul a {
                font-size: 0.9em !important;
                padding-left: 30px !important;
                background: #6d7fcc;
            }

            ul.CTAs {
                padding: 20px;
            }

            ul.CTAs a {
                text-align: center;
                font-size: 0.9em !important;
                display: block;
                border-radius: 5px;
                margin-bottom: 5px;
                border: none;
                outline: none;
                cursor: pointer;
            }

            a.download {
                background: #fff;
                color: #7386D5;
            }

            a.article,
            a.article:hover {
                background: #6d7fcc !important;
                color: #fff !important;
            }
        }

        /* ---------------------------------------------------
            CONTENT STYLE
        ----------------------------------------------------- */

        #content {
            width: 100%;
            padding: 20px 20px 50px;
            min-height: 100vh;
            transition: all 0.3s;
            height: 100vh;
            overflow-y: scroll;

            /* ---------------------------------------------------
            SIDEBAR STYLE SUPERIOR
            ----------------------------------------------------- */
            .navbar {
                padding: 15px 10px;
                background: #fff;
                border: none;
                border-radius: 0;
                margin-bottom: 40px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

                .navbar-btn {
                    box-shadow: none;
                    outline: none !important;
                    border: none;
                }

                .line {
                    width: 100%;
                    height: 1px;
                    border-bottom: 1px dashed #ddd;
                    margin: 40px 0;
                }
            }

            /* ---------------------------------------------------
            FILTROS
            ----------------------------------------------------- */
            // div#filtros {
            //     div.contain-filters {
            //         border: 1px solid #dcdcdc;
            //         border-radius: 3px;
            //     }
            // }

            /* ---------------------------------------------------
            SESSÕES
            ----------------------------------------------------- */
            section {
                &.sessao-tabela {
                    div.circle-stts {
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                    }

                    .contain-btn-exp {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                    }

                    table {
                        margin-top: 25px;

                        &.tabela-export {
                            height: 100%;
                            max-height: 650px;
                            overflow-y: auto;
                        }

                        thead {
                            tr {
                                th {
                                    text-transform: uppercase;
                                    font-size: 14px;
                                }
                            }
                        }

                        tbody {
                            tr {

                                td,
                                th {
                                    font-size: 12.5px;

                                    form {
                                        button[type="submit"]:not(.editar):not(.excluir) {
                                            border: none;
                                            outline: none;
                                            background: none;
                                            cursor: pointer;
                                            color: #007CFF;
                                        }
                                    }

                                    div.content-btn {
                                        display: flex;
                                        flex-wrap: nowrap;

                                        form {
                                            display: block;
                                        }

                                        button {
                                            &.editar[type="button"] {
                                                border: none;
                                                background: #007CFF;
                                                outline: none;
                                                cursor: pointer;
                                                padding: 5px;
                                                width: 40px;
                                                border-radius: 5px;

                                                &:hover {
                                                    background: #1E90FF;
                                                }
                                            }

                                            &.excluir {
                                                border: none;
                                                background: #B22222;
                                                outline: none;
                                                cursor: pointer;
                                                padding: 5px;
                                                width: 40px;
                                                border-radius: 5px;
                                                margin-left: 10px;

                                                &:hover {
                                                    background: #800000;
                                                }
                                            }
                                        }

                                        i {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.view-lead {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 50px;

                    div.contain {
                        width: 100%;

                        fieldset {
                            width: 100%;
                            margin: 0 auto;

                            div {
                                &.content-stts {
                                    display: flex;
                                    justify-content: flex-end;
                                    flex-wrap: nowrap;
                                    position: relative;

                                    span {
                                        display: inline-block;
                                        margin-right: 20px;
                                    }

                                    div.indicadorStatusCor {
                                        width: 15px;
                                        height: 15px;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 5px;
                                    }
                                }
                            }

                            form {
                                label {
                                    display: block;
                                    cursor: pointer;
                                    margin-top: 10px;
                                    text-transform: uppercase;
                                    color: #1c1c1c;
                                }

                                input,
                                textarea,
                                select {
                                    display: block;
                                    width: 100%;
                                    border: 1px solid #708090;
                                    outline: none;
                                    padding: 5px 10px;
                                    font-size: 14px;
                                }

                                .select2 {
                                    display: block !important;
                                    width: 100% !important;
                                    border: 1px solid #708090 !important;
                                    outline: none !important;
                                    padding: 5px 10px !important;
                                    font-size: 14px !important;
                                    outline: none !important;

                                    .select2-selection {
                                        background: #fff !important;
                                        border: none !important;
                                        border-radius: 0px !important;
                                        height: auto !important;
                                        outline: none !important;

                                        .select2-selection__rendered {
                                            color: #000 !important;
                                            line-height: normal !important;
                                            padding-left: 0 !important;
                                            padding-right: 0 !important;
                                            outline: none !important;
                                        }
                                    }
                                }

                                div.aviso-follow {
                                    display: none;

                                    div.alert {
                                        font-size: 12px;
                                        font-weight: 600;
                                    }
                                }

                                div#contain-confirm-follow {
                                    display: none;
                                    gap: 10px;
                                    flex-wrap: nowrap;
                                    flex-direction: column;

                                    @media(min-width: 768px) {
                                        gap: 15px;
                                    }

                                    @media(min-width: 992px) {
                                        flex-direction: row;
                                    }

                                    >div {
                                        width: 100%;

                                        label {
                                            font-weight: 600;
                                            font-size: 12px;
                                            margin-top: 0;
                                        }

                                        input[type="date"],
                                        input[type="time"] {}
                                    }
                                }

                                .custom-control {
                                    label.label-followup {
                                        font-size: 13px;
                                        font-weight: 700;
                                        line-height: 24px;
                                    }
                                }

                                .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
                                    background-color: #343a40;
                                }
                            }
                        }
                    }
                }

                &.filtro-lead {
                    >div.contain-filtro {
                        padding-top: 20px;

                        >form {
                            div.grid {
                                display: grid;
                                grid-template-columns: repeat(1, 1fr);
                                gap: 10px;

                                @media (min-width: 576px) {
                                    grid-template-columns: repeat(2, 1fr);
                                }

                                @media (min-width: 992px) {
                                    grid-template-columns: repeat(3, 1fr);
                                    gap: 15px;
                                }

                                >div.item {
                                    >label {
                                        display: block;
                                        cursor: pointer;
                                        text-transform: uppercase;
                                        color: #1c1c1c;
                                    }

                                    .form-filtro {
                                        display: block;
                                        width: 100%;
                                        border: 1px solid #708090;
                                        outline: none;
                                        padding: 5px 10px;
                                        font-size: 14px;
                                    }
                                }
                            }

                            div.contain-submit-filter {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding-top: 30px;
                            }
                        }
                    }
                }
            }
        }

        /* ---------------------------------------------------
            FOLLOWUP
        ----------------------------------------------------- */
        // div#itens_followup {
        //     div.item-followUp {
        //         border: 2px solid red !important;
        //     }
        // }

        /* ---------------------------------------------------
            MEDIAQUERIES
        ----------------------------------------------------- */

        @media (max-width: 768px) {
            #sidebar {
                margin-left: -250px;
            }

            #sidebar.active {
                margin-left: 0;
            }

            #sidebarCollapse span {
                display: none;
            }
        }
    }
}